html
  head
    style.
      body{
        margin: 20px auto;
        text-align: center;
      }
      .gif {
        display: inline;
        width:200px;
        height:200px;
        margin: 0;
        padding: 0;
        font-size: 0;
        position: relative;
      }
      .controls {
        display: inline-block;
        background-image: url('http://fc06.deviantart.net/fs71/f/2010/059/4/a/NES_Controller_by_The_Penciler.png');
        background-size: cover;
        width: 500px;
        height: 300px;
        background-position: 0 -100px;
        position: relative;
      }

      .pad {
        position: absolute;
        left: 0;
        top: 90px;
      }
      .pad form:nth-child(1) {
        position: absolute;
        left: 86px;
        top: 18px;
      }

      .pad form:nth-child(2) {
        position: absolute;
        left: 57px;
        top: 45px;
      }
      .pad form:nth-child(3) {
        position: absolute;
        left: 113px;
        top: 43px;
      }
      .pad form:nth-child(4) {
        position: absolute;
        left: 85px;
        top: 70px;
      }

      .options {
        position: absolute;
        left: 7px;
        right: 0px;
        bottom: 94px;
      }

      .options form:nth-child(1){
        position: absolute;
        left: 174px;
        top: -50px;
      }
      .options form:nth-child(2) {
        position: absolute;
        top: -49px;
        left: 246px;
      }

      .buttons {
        position: absolute;
        right: 26px;
        top: -5px;
      }

      .buttons form:nth-child(1) {
        position: absolute;
        top: 160px;
        left: -88px;
      }

      .buttons form:nth-child(2) {
        position: absolute;
        top: 160px;
        left: -148px;
      }



      iframe {
        display: none;
      }

      input[type="submit"] {
        opacity: 0;
        width: 30px;
        height: 30px;
        border-radius:15px;
        border: 3px solid white;
        background: rgba(0,0,0,0.5);
        outline: none;
      }

      input[type="submit"]:active {
        opacity: 1;
      }


  body
    h1="MMORPG Gif-Zelda without any JavaScript"
    div.gif
      img(src="/gifs/nes.gif" width="500" height="500")

    div.controls
      div.pad
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="38")
          input(type="submit" value="up")
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="37")
          input(type="submit" value="left")
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="39")
          input(type="submit" value="right")
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="40")
          input(type="submit" value="down")
      div.options
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="17")
          input(type="submit" value="select")
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="13")
          input(type="submit" value="start")
      div.buttons
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="88")
          input(type="submit" value="a")
        form(action="/input" target="post-iframe" method="POST")
          input(type="hidden" name="button" value="89")
          input(type="submit" value="b")


    iframe(name="post-iframe" src="/input")