extends ./base.jade

block content
  section.presentation
        h1="png-streams - A hack for the 90's"
        h2="A <noscript> compatible version of Legend of Zelda"
        h2="that you can play online with your friends, mmorpg-style!"

      section.lets-play
        a(href="/play")
          img(src="/assets/images/letsplay.png")