html
  head
    link(rel="stylesheet" type="text/css" href="css/stylesheet.css")
  body
    h1="png-zelda"
    h2="A <noscript> compatible version of Legend of Zelda"
    h2="that you can play online with your friends"
    iframe(src="stream.png"  width="100%" allowtransparency="true" scrolling="no")
    img(src="http://fc06.deviantart.net/fs71/f/2010/059/4/a/NES_Controller_by_The_Penciler.png", alt="", usemap="#Map")
    map#Map(name="Map")
      area(href="/input/38" target="post-iframe" shape="poly" coords="85,207,122,207,112,241,93,241")
      area(href="/input/37" target="post-iframe" shape="poly" coords="59,233,93,243,93,262,58,269")
      area(href="/input/40" target="post-iframe" shape="poly" coords="114,266,92,266,84,296,120,296")
      area(href="/input/39" target="post-iframe" shape="poly" coords="149,233,149,270,119,263,116,244")
      area(href="/input/17" target="post-iframe" shape="poly" coords="181,260,181,287,230,289,230,261")
      area(href="/input/13" target="post-iframe" shape="poly" coords="249,259,298,259,298,291,248,290")
      area(href="/input/89" target="post-iframe" shape="poly" coords="323,250,374,250,374,300,326,300")
      area(href="/input/88" target="post-iframe" shape="poly" coords="384,249,434,249,434,298,385,299")

    iframe(name="post-iframe" scrolling="no")
