extends ./base.jade

block vars
  - var title = "Say What?";

block content
  img(src="/assets/images/baby.gif")
  h2="You make me sad."
  | If this page doesn't feel familiar, you need a go
  a(href="http://info.cern.ch/hypertext/WWW/TheProject.html" target="_blank")=" here "
  | and then, go
  a(href="//www.cameronsworld.net/" target="_blank")=" here "