extends ./base.jade

block vars
  - var title = "Say What?";

block content
  img(src="/assets/images/baby.gif")
  h2="You make a bit sad."
  | This is a tribute to the old times, espacially the first homepage ever created.
  h2=""
  | If this page doesn't feel familiar, you need a go
  a(href="http://info.cern.ch/hypertext/WWW/TheProject.html" target="_blank")=" here "
  | and then
  a(href="//www.cameronsworld.net/" target="_blank")=" here "