body {
  margin: 50px auto;
  text-align: center;
  width: 512px;
}

p {
  width: 512px;
}

iframe {
  border: none;
  height: 480px;
  margin-top: 50px;

  overflow: hidden;
  position: relative;
  width: 512px;
  background-color: white;
}

iframe img {
  width: 100%;
  height: 100%;
}
